.p_text {
  margin: 15px 0;
  color: #5a5a5a;
  font-size: 14px;
}

.online_training_img {
  display: block;
  margin: auto;
}

.p_icon {
  font-size: 30px;
  color: #5a5a5a;
  margin-right: 3px;
  margin-bottom: 3px;
}

.card_header {
  background: none;
  border: none;
  border-radius: 0 !important;
  border-bottom: 3px solid #e61b2a;
}

.acord_icon {
  float: right;
}
.card {
  box-shadow: none !important;
}

.contact_input {
  border: none;
  border-bottom: 2px solid grey;
  border-radius: 0;
  background-color: #ffffff00 !important;
}

.contact_input:focus {
  border-bottom: 2px solid #e21927;
  box-shadow: none !important;
}

.contact_side {
  padding: 20px;
  border: 2px solid rgb(248 248 248);
  border-radius: 5px;
  box-shadow: 7px 7px 14px #d9d9d9, -7px -7px 14px #ffffff !important;
}
